:root {
    --verde: #92bb49;
    --azul: #081f44;
    --cinza: #d0d0d0;
}

.block-container {
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.stSidebar .stElementToolbar {
    visibility: hidden;
}

div.stMetric {
    background-color: var(--azul);
    border-radius: 10px;
    padding: 10px;
}

label[data-testid="stMetricLabel"] {
    color: whitesmoke;
}

div[data-testid="stMetricValue"] > div {
    color: whitesmoke;
}

.stMain .stColumn {
    background-color: var(--cinza);
    padding: 10px;
    border-radius: 10px;
}